h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
font-size: 60px;
letter-spacing: 1px;
margin: 0;
font-variant-caps: all-petite-caps;
}


body {
text-align: center;
margin: 0;
}


a {
	text-decoration: none;
	margin-right: 20px;
	margin-right: 20px;
	border-bottom: 2px solid transparent;
}

h2 {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 1px;
	color: #0D2c40;
	font-variant-caps: all-petite-caps;
}

h6 {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	color: #f15b31;
}

p {
	font-family: "droid serif";
	font-size: 18px;
	line-height:30px;

}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding-left: 43%;
	font-size: 24px;
	font-family: "Raleway";
	font-variant-caps: all-petite-caps;
	letter-spacing: 1px;
}
main {
	width: 100%;
	margin-bottom: 245px;
	margin-left: auto;
	margin-right: auto;
}
div {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway";
	float: left;
}
.message {
	font-family: "Raleway";
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
color: #F15B31;
font-weight: 700;
}

a:hover {
	background-color: #008080;
}